/* Initial Screen */

#initial-screen {
  background-image: url('img/Cox+C-Tech+(37)-2.jpg');
  background-size: 100% 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-color: rgba(0,84,128);
}


#initial-screen {
  height: 100%;
  width: 100%;
}

.logo {
	object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
	margin-top: unset;
}


#titleContainer {
  padding-block-start: 10%;
  border-radius: 30px;
  margin-inline: 6%;
}

#buttonContainer {
  padding-block-end: 10%;
  border-radius: 30px;
  margin-inline: 6%;
}

.footer-initial {
  font-size: 1rem;
  color: #000000!important;
}

.bottom-text {
  font-family: 'IQOS' !important;
  margin: 0px 15%;
  font-size: 1.5rem;
  margin: 0.2em;
}

/* Loading Screen */

.loader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,84,128);
}

.bottom-container{
  position: relative;
  display: flex;
  /* height: 100px; */
  width: 100%;
  background-color: rgba(0,84,128);
  justify-content: center;
  align-items: center;
}


.loading-bar {
  position: absolute;
  top: 60%;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  width: 500px; /* Adjust the width of the loading bar */
  height: 30px; /* Adjust the height of the loading bar */
  border: 5px solid #174176; /* Border color */
  background-color: #174176;
  overflow: hidden;
}
.loading-bar .bar {
  width: 50px; /* Width of each bar */
  height: 100%;
  background-color: #6D9EC4; /* Color of each bar */
  animation: moveBars 4s infinite linear; /* Animation for moving bars */
}
.loading-bar .bar:nth-child(even) {
  background-color: #174176; /* Color for odd bars */
  
}
@keyframes moveBars {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(1000%); }
}
.loading-bar .bar:nth-child(1) { animation-delay: 0s; }
.loading-bar .bar:nth-child(2) { animation-delay: 0.1s; }
.loading-bar .bar:nth-child(3) { animation-delay: 0.1s; }
.loading-bar .bar:nth-child(4) { animation-delay: 0.3s; }
.loading-bar .bar:nth-child(5) { animation-delay: 0.4s; }


#closeVideoButtonContainer {
  bottom: 5%;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  position: relative;
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #174176;
}

#closeVideoButton {
  position: absolute;
  z-index: 999;
  height: 70px;
  width: 70px;
  border-radius: 9999px;
  padding: 15px;
  border: 0px;
  top: 9%;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  background-color: #6D9EC4;
}



#cancel-button-loading-container{
  bottom: 5%;
  z-index: 1;
  left: 0px;
  position: relative;
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #174176;
}
#cancel-button-loading{
  position: absolute;
  z-index: 999;
  height: 70px;
  width: 70px;
  border-radius: 9999px;
  padding: 15px;
  border: 0px;
  top: 9%;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  background-color: #6D9EC4;
}

img {
  max-width: 100%; /* Ensures image doesn't exceed its container's width */
  height: auto; /* Allows the browser to adjust the height proportionally */
}

/* On Call Screen */

#oncall-screen, #myVideoHolder {
  width: 100%;
  height: 100%;
  position: relative !important;
}


#videoengageriframe{
	background: rgb(150, 150, 150);
}

#closeVideoButton:active {
  background-color: #6D9EC4;
}

#StartVideoCall{
  cursor:pointer;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#carousel {
  background: rgba(0,84,128);;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 50px;
  z-index: 500;
  position: fixed;
}

.active {
  height: 100%;
  width: 100%;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}




.header {
	position: fixed;
    top: 25%;
    width: 50%;
    left: 25%;
    color: white;
}


/* Fonts */

/* font */
@font-face {
  font-family: IQOS;
  font-weight: normal;
  src: url("./font/IQOS-Regular.otf") format("opentype");
}

@font-face {
  font-family: IQOS;
  font-weight: bold;
  src: url("./font/IQOS-Bold.otf") format("opentype");
}

@font-face {
  font-family: IQOS;
  font-weight: lighter;
  src: url("./font/IQOS-Light.otf") format("opentype");
}

.navbar{
  box-shadow: 0px 0px 15px 15px #26242c;
  background: #26242c;
  height: 60px;
}

.navbar-toggler-icon {
  width: 50px;
  height: 50;
  margin: auto;
  z-index: 9;
}

.text-muted {
  color: #000000!important;
  display: flow-root;
  text-transform: uppercase;
  font-family: 'IQOS';
}


.header-text-addition{
  color: #6bdbe0; 
  display: contents; 
}

.secondery-text {
  color: #fafafa;
  font-family: 'IQOS';
  font-weight: normal;
}

.bottom-text {
  color: #000000;
  font-family: 'IQOS';
  font-weight: normal;
  margin-bottom: 25px;
  -webkit-font-smoothing: auto;
}

@media only screen and (min-width : 670px) {
  .header-text {
    padding-inline: 40px;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .secondery-text {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.2;
    color: inherit;
    -webkit-font-smoothing: auto;
  }

  .callButtonContainer{
    margin-inline: 5%;
  }  
}


@media only screen and (min-height : 1000px) {
  .header-text{
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .secondery-text{
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
    font-family: IQOS;
    font-weight: normal;
    line-height: 1.2;
    color: inherit;
  }
  .callButtonContainer{
    margin-inline: 15%;
  }  
}


@media only screen and (max-height : 1000px) {
  .header-text{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .secondery-text{
    font-size: 1.5 rem;
    margin-bottom: 0.5rem;
    font-family: IQOS;
    font-weight: normal;
    line-height: 1.2;
    color: inherit;
  }
  .callButtonContainer{
    margin-inline: 5%;
  }
}

#padding-bottom{
  padding-bottom: 0px;
}

.lang_flag {
  height: 30px;
  width: 30px;
  display: none;
}

#lang {
  float: right;
  position: absolute;
  right: 15px;
  top: 15px;
}

.callButtonContainer {
  background-color: white;
  padding: 20px;
  border-radius: 45px;
}
.container-body {
  touch-action: pan-x pan-y;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  max-height: 100vh;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: rgba(0,84,128);
}


.top-container p { 
  color: white; 
  font-size: 4vw; 
  width: 100%; 
  text-align: center;
  top: 45vh;
}

#StartVideoCall{
  cursor:pointer;
}





.header-text{
  color: #efefef;
  font-family: IQOS;
  font-weight: bold;
  max-width: 80%;
  margin: auto;
}

.secondery-text {
  color: #fafafa;
  font-family: 'IQOS';
  font-weight: normal;
}
.container {
  height: 100%;
}

@media only screen and (max-height : 600px) {
  .text-center {
    padding-block: 5px;
  }
  .bottom-text {
    font-size: 1rem;
  }
  .button2 {
    font-size: 1rem;
    padding: 10px 20px;
  }
  .callButtonContainer {
    background-color: white;
    padding: 10px;
    border-radius: 45px;
    padding: 10px 20px;
  }
  .header-text {
    font-size: 2rem;
  }
  .secondery-text {
    font-size: 1.5rem;
  }
  .container {
    font-size: 0.7rem;
  }
  p {
    margin-bottom: 0.5rem;
  }
}



@media only screen and (max-width : 400px) {
  .callButtonContainer {
    background-color: white;
    padding: 10px;
    border-radius: 45px;
  }
  .header-text {
    font-size: 2rem;
    max-width: 70%;
  }
  .secondery-text {
    font-size: 1.5rem;
  }
  .container {
    font-size: 0.7rem;
  }
  p {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width : 300px) {
  .callButtonContainer {
    background-color: white;
    border-radius: 45px;
    padding: 5px;
  }
  .header-text {
    font-size: 1.5rem;
  }
  .secondery-text {
    font-size: 1rem;
  }
  .container {
    font-size: 0.5rem;
  }
  p {
    margin-bottom: 0.25rem;
  }
}

@media only screen and (max-height : 420px) {
  #titleContainer {
    padding-block-start: 1%;
  }
  
  #buttonContainer {
    padding-block-end: 1%;
  }

  .header-text {
    max-width: 100%;
  }
}

@media only screen and (max-height : 300px) {
  #titleContainer {
    padding-block-start: 0;
  }
  
  #buttonContainer {
    padding-block-end: 0;
  }

  .bottom-text {
    margin: 5px;
  }
}

/* 
Modal */

#modalTitle {
  font-size: 3rem;
  color: white;
}


.modal-content-custom {
  width:60vw !important;
  min-height:50vh !important;
  height: max-content !important;
  border-radius: 17px !important;
  display: flex !important;
  flex-direction: column;
  overflow: hidden;
  border: 0px !important;
  background-color: white;
}
@media screen and (max-width: 550px) {
  #modalTitle {
    font-size: 2rem  !important;
  }
  .modal-body {
  font-size: 1rem !important;
}
.modal-content-custom {
    width:90vw !important;
  min-height:60vh !important;
   height: max-content !important;
}
}
.modal-header {
  width: 100%;
    padding-top:20px;
  /* height:45% !important; */
  flex:2 1 !important;
      transition: all 0.3s ease-in-out;
 background-color: rgb(229 115 115);
}

.modal-body {
  width: 100%;
   flex:1 !important;
  font-size: 2rem;
}
.modal-footer-custom {
  width: 100%;
  flex:1 !important;
    display: flex ;
}
.modal-body, .modal-header {
    display: flex !important;
}

.modal-body, .modal-header,.modal-footer-custom {
  text-align: center !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 10px;
  border: 0px !important;
}
.error-button {
      width: 45%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: 57px;
    border: 0px;
    border-radius: 439px;
    background-color: rgb(229 115 115);
    color:white;
}
.error-button:hover,.modal-header:hover {
  background-color: rgb(182, 56, 56);
}

#error-text {
  color: white;
  font-size: 2rem;
}
.modal-custom {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

